<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Mon Appli2 configuré dans web.xml</display-name>
    <context-param>
        <param-name>configparam</param-name>
        <param-value>Ceci est le paramètre d'init</param-value>
    </context-param>
    <filter>
        <filter-name>logFilter</filter-name>
        <filter-class>filters.logFilter</filter-class>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>logueur</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CheckFilter</filter-name>
        <filter-class>filters.CheckFilter</filter-class>
    </filter>
    <filter>
        <filter-name>HeadingFilter</filter-name>
        <filter-class>filters.HeadingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HeadingFilter</filter-name>
        <servlet-name>First</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>logFilter</filter-name>
        <servlet-name>Personnes</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckFilter</filter-name>
        <url-pattern>/personnes</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.AppListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextAttributeListener</description>
        <listener-class>listeners.AppAttrListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>First</servlet-name>
        <servlet-class>coursweb.First</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Second</servlet-name>
        <servlet-class>coursweb.Second</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePersonne</servlet-name>
        <servlet-class>coursweb.ManagePersonne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Personnes</servlet-name>
        <servlet-class>coursweb.Personnes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsyncServlet</servlet-name>
        <servlet-class>coursweb.AsyncServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>First</servlet-name>
        <url-pattern>/premier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Second</servlet-name>
        <url-pattern>/second</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePersonne</servlet-name>
        <url-pattern>/managepersonne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Personnes</servlet-name>
        <url-pattern>/toto/personnes</url-pattern>
        <url-pattern>/personnes</url-pattern>
        <url-pattern>/personnes.list</url-pattern>
        <url-pattern>/personnes.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsyncServlet</servlet-name>
        <url-pattern>/async</url-pattern>
    </servlet-mapping>
    <session-config>
        <cookie-config>
            <name>IdDeSession</name>
            <max-age>60</max-age>
        </cookie-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Formulaire.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>600</error-code>
        <location>/Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/Error.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <display-name>pasdeEL</display-name>
            <url-pattern>/Error.jsp</url-pattern>
            <el-ignored>true</el-ignored>
        </jsp-property-group>
    </jsp-config>
</web-app>
